<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
</head>
<body>
<div class="topnav">
    <div class="topnav-right">
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="logout-btn">Logout</button>
            </form>
        {% endif %}
    </div>
</div>

    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Author: {{ post.author }}</p>
    <p>Created At: {{ post.created_at }}</p>
    <p>Updated At: {{ post.updated_at }}</p>
    <a href="{% url 'post_list' %}">Back to Post List</a>
    <a href="{% url 'post_update' post.pk %}">Edit</a>
    <a href="{% url 'post_delete' post.pk %}">Delete</a>

</body>
</html>
